.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-container {
  display: flex;
  flex: 1;
  position: relative;
}

.main-content {
  flex: 1;
  padding: 24px;
  margin-left: 250px;
  overflow-y: auto;
  min-height: calc(100vh - 70px);
}

